<%= form_with(model: grade) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deck_id %>
    <%= form.number_field :deck_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :enrollment_id %>
    <%= form.number_field :enrollment_id %>
  </div>

  <div class="field">
    <%= form.label :assignment_id %>
    <%= form.number_field :assignment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
