<p id="notice"><%= notice %></p>

<p>
  <strong>Deck:</strong>
  <%= @grade.deck_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @grade.enrollment_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @grade.assignment_id %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
