<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @target.body %>
</p>

<p>
  <strong>Card:</strong>
  <%= @target.card_id %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
