<% if @assignment.deck.nil? && @user.roles == "Instructor" %>

  <div class="card">
    <div class="card-header display-4">
      <%= @assignment.resource_link_title %>
    </div>
    <div class="card-body">
      <h5 class="card-title">This assignment has no deck associated with it.</h5>
      <p class="card-text">Choose an existing deck to associate with the assignment or create a new deck. </p>
      <%= link_to 'Create New Deck', new_deck_path, class: "btn btn-primary" %>
    </div>
  </div>

<% elsif @user.roles == "Instructor" %>

  <div class="card">
    <div class="card-header display-4">
      <%= @assignment.deck.name %>
    </div>
    <div class="card-body">
      <h5 class="card-title">This deck has <%= pluralize(@assignment.deck.cards.count, "card") %></h5>
      <p class="card-text">Edit the deck to add or modify cards. </p>
      <div class="d-flex justify-content-between">
        <%= link_to 'Edit Cards in Deck', cards_path(:assignment_id => @assignment.id, :user_id => @user.id), class: "btn btn-primary" %> 
        <%= link_to 'Destroy Deck', @assignment.decks.first, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  

<% else %>

  <div id="learnerReview">
    <%= render '/reviews/card', assignment: @assignment, card_accounts_due: @card_accounts_due %>
  </div>
  
<% end %>
