<% if @assignment.deck.nil? && @user.roles == "Instructor" %>

  <div class="card">
    <div class="card-header display-4">
      <%= @assignment.resource_link_title %>
    </div>
    <div class="card-body">
      <h5 class="card-title">This assignment has no deck associated with it.</h5>
      <p class="card-text">Choose an existing deck to associate with the assignment or create a new deck. </p>
      <%= link_to 'Create New Deck', new_deck_path, class: "btn btn-primary" %>
    </div>
  </div>

<% elsif @user.roles == "Instructor" %>

  <div class="card">
    <div class="card-header display-4">
      <%= @assignment.deck.name %>
    </div>
    <div class="card-body">
      <h5 class="card-title">This deck has <%= pluralize(@assignment.deck.cards.count, "card") %></h5>
      <p class="card-text">Edit the deck to add or modify cards. </p>
      <div class="d-flex justify-content-between">
        <%= link_to 'Edit Cards in Deck', cards_path(:assignment_id => @assignment.id, :user_id => @user.id), class: "btn btn-primary" %> 
        <%= link_to 'Destroy Deck', @assignment.decks.first, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  

<% else %>

  <div class="card text-center">
    <div class="card-header display-4">
      <%= @assignment.deck.name %>
    </div>
    <div class="card-body">
      <h5 class="card-title">This deck has <%= pluralize(@assignment.deck.cards.count, "card") %>.</h5>
      <h5 class="card-title">You have <%= pluralize(@card_accounts_due.count, "review") %> left today.</h5>
      <div class="text-center mt-3">


        <% if @card_accounts_due.count !=0 %>
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newReview">
            Begin Review
          </button> 

          <!-- Modal -->
          <div class="modal fade" id="newReview" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newReviewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="btn btn-outline-primary btn-lg modal-title" id="newReviewLabel" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="solution result explanation"><%= @card_accounts_due.first.card.target.target %></button>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="newReviewForm">
                  <%= render '/reviews/form', card_account: @card_accounts_due.first, review: Review.new %>
                </div>
              </div>
            </div>
          </div>

        <% else %>


          <h1><i class="fas fa-laugh-beam"></i> Hooray! You are done with your reviews for the day! <i class="fas fa-laugh-beam"></i></div>

        <% end %>

      </div>
    </div>
  </div>

<% end %>
