<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.roles %>
</p>

<p>
  <strong>Tool consumer user id:</strong>
  <%= @user.tc_user_id %>
</p>

<p>
  <strong>LMS:</strong>
  <%= @user.tool_consumer.product_family.capitalize + " - " + @user.tool_consumer.name %>
</p>

<p>
  <strong>Time Zone:</strong>
  <%= @user.review_setting.time_zone %>
</p>

<p>
  <strong>New Cards / Day:</strong>
  <%= @user.review_setting.new_per_day %>
</p>

<p>
  <strong>Reviews / Day:</strong>
  <%= @user.review_setting.reviews_per_day %>
</p>