<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container d-flex">

      <%= link_to "Memoreeze", '#', class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav">

            <li class="nav-item">
              <%= link_to '#', class: "nav-link" do %>
                <i class="fas fa-plus-circle"></i>
      
                Create Deck
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to '#', class: "nav-link" do %>
                <i class="fas fa-home fa-fw"></i>

                Your Decks
              <% end %>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                "User's Username (Once I add this)"
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Edit profile", '#', class: "dropdown-item" %>
                <%= link_to "Sign out", '#', class: "dropdown-item" %>
              </div>
            </li>

        </ul>
      </div>
 
  </div>
</nav>