<tr id="<%= dom_id(card) %>" class="border text-center">
  <td class="col-3">
    <div id="<%= dom_id(card) %>_target">
      <%= link_to "cards/#{card.id}/target/edit", class: "text-dark", remote: true do %>
        <p>
          <%= markdown(card.target.target) %>
        </p>
      <% end %>
    </div>
  </td>
  <td class="col-4">
    <div id="<%= dom_id(card) %>_illustrative_test">
      <%= link_to "cards/#{card.id}/illustrative_test/edit", class: "text-dark", remote: true do %>
        <p>
          <%= markdown(card.illustrative_test) %>
        </p>
      <% end %>
    </div>
  </td>
  <td class="col-4">
    <div id="<%= dom_id(card) %>_solution">
      <p>
        <%= link_to "cards/#{card.id}/solution/edit", class: "text-dark", remote: true do %>
          <%= markdown(card.solution) %>
      <p>    
      <% end %>
    </div>
  </td>
  <td class="col-2">
    <div id="<%= dom_id(card) %>_delete">
      <%= link_to deck_card_path(deck, card), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link btn-lg text-muted", remote: true do%>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
</tr>