<div id="<%= dom_id(card)%>_solution_form">
  <%= form_with(url: "/decks/#{deck.id}/cards/#{card.id}/solution", local: false) do |form| %>
    <% if card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <%= form.label :solution, class: "sr-only" %>
        <%= form.text_area :solution, class: "form-control", placeholder: "Solution Text" %>

    <%= form.submit "Update Solution Text", class: "btn btn-outline-secondary btn-block" %>

  <% end %>
</div>