<div id="<%= dom_id(card)%>_illustrative_test_form">
  <%= form_with(model: card, url: "/decks/#{deck.id}/cards/#{card.id}/illustrative_test", local: false) do |form| %>
    <% if card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <%= form.label :illustrative_test, class: "sr-only" %>
        <%= form.text_area :illustrative_test, class: "form-control", placeholder: "Illustrative Test Text" %>

    <%= form.submit "Update Illustrative Test Text", class: "btn btn-outline-secondary btn-block" %>

  <% end %>
</div>