<%= form_with(model: card, local: false) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :deck_id %>

    
      <td>
        <%= form.label :target, class: "sr-only"  %>
        <%= form.text_area :target, class: "form-control", placeholder: "Target" %>
      </td>

      <td>
        <%= form.label :front, class: "sr-only" %>
        <%= form.text_area :front, class: "form-control", placeholder: "Front Text" %>
      </td>

      <td>
        <%= form.label :back, class: "sr-only" %>
        <%= form.text_area :back, class: "form-control", placeholder: "Back Text"  %>
      </td>


  <td class="actions">
    
    <%= button_tag type: 'submit', class: "btn btn-link btn-lg text-secondary" do %>
       <i class="fa fa-plus-square" aria-hidden="true"></i>
    <% end %>
  </td>

<% end %>
