<tr id="<%= dom_id(deck) %>" class="border text-center">
  <td class="col-1">
    <div id="<%= dom_id(deck) %>_show">
      <%= link_to deck_cards_path(deck),  class: "btn btn-link btn-lg text-muted" do%>
        <i class="fas fa-folder-open" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
  <td class="col-5">
    <div id="<%= dom_id(deck) %>_name">
      <%= link_to "decks/#{deck.id}/name/edit", class: "text-dark", remote: true do %>
        <p>
          <%= deck.name %>
        </p>
      <% end %>
    </div>
  </td>
    <td class="col-6">
    <div id="<%= dom_id(deck) %>_explanation">
      <p>
        <%= link_to "decks/#{deck.id}/assignment/edit", class: "text-dark", remote: true do %>
          <% if deck.assignment.blank? %>
            No Assignment Set
          <% else %>
            <%= deck.assignment.course.context_title %>
          <% end %>
      <p>    
      <% end %>
    </div>
  </td>
  <td class="col-1">
    <div id="<%= dom_id(deck) %>_delete">
      <%= link_to deck_path(deck), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link btn-lg text-muted", remote: true do%>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
</tr>