<div id="<%= dom_id(deck)%>_name_form">
  <%= form_with(url: "/decks/#{deck.id}/name", local: false) do |form| %>
    <% if deck.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

        <ul>
          <% deck.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <%= form.label :name, class: "sr-only" %>
        <%= form.text_area :name, class: "form-control", placeholder: "Name" %>

    <%= form.submit "Update Name", class: "btn btn-outline-secondary btn-block" %>

  <% end %>
</div>