<div id="<%= dom_id(deck)%>_private_form">
  <%= form_with(model: deck, url: "/decks/#{deck.id}", local: false) do |form| %>
    <% if deck.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

        <ul>
          <% deck.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <%= form.label :private, class: "sr-only" %>
        <%= form.select :private, [["True", "true"], ["False", "false"]], {:include_blank => true}, onchange: "Rails.fire(this.form, 'submit')" %>

  <% end %>
</div>