<%= form_with(model: deck) do |form| %>
  <% if deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
        <% deck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter name of new deck" %>
  </div>

  <div class="field">
      <%= form.label :assignment_id, "Assign this deck?" %>
      <p>
      <%= collection_select(:deck, :assignment_id, @user.floating_assignments, :id, :resource_link_title, prompt: "No Assignment Selected") %>
      </p>
  </div>

    <%= form.hidden_field :user_id %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg mt-3" %>
  </div>
<% end %>
