<tr id="<%= dom_id(deck) %>" class="border text-center">
  <td class="col-1 align-middle">
    <div id="<%= dom_id(deck) %>_show">
      <%= link_to deck_cards_path(deck),  class: "btn btn-link btn-lg text-secondary" do%>
        <i class="fas fa-folder-open" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
  <td class="col-4 align-middle">
    <div id="<%= dom_id(deck) %>_name">
      <% if deck.owner == user %>
        <%= link_to "/decks/#{deck.id}/name/edit", class: "link-primary text-decoration-none", remote: true do %>
          <%= deck.name %>
        <% end %>
      <% else %>
        <%= deck.name %>
      <% end %>
    </div>
  </td>
  <td class="col-2 align-middle">
    <div id="<%= dom_id(deck) %>_number_of_cards">
        <%= deck.cards.count %>
    </div>
  </td>  
  <td class="col-5 align-middle">
    <div id="<%= dom_id(deck) %>_number_of_cards">
        <%= deck.owner.name %>
    </div>
  </td>  
    <td class="col-5 align-middle">
    <div id="<%= dom_id(deck) %>_copy">
      <% if deck.owner != user %>
      <%= link_to public_decks_path(deck_id: deck.id), method: :post, data: { confirm: 'Are you sure you want to copy this deck?' }, class: "btn btn-link btn-lg text-secondary", remote: true do%>
          <i class="fa fa-folder-plus" aria-hidden="true"></i>
        <% end %>
      <% else %>
      <span class="btn btn-lg text-secondary disabled">
        <i class="fa fa-folder-plus" aria-hidden="true"></i>
      </span>
      <% end %>
    </div>
  </td>  
