<h1 class="text-center mb-5">
  <%= card.illustrative_test %>
</h1>

<h3 class="text-center mb-5 collapse multi-collapse" id="solution">
  <%= card.solution %>
</h3>

<ul class="list-group list-group-flush collapse multi-collapse" id="explanation">
    <li class="list-group-item"></li>
    <li class="list-group-item"><%= card.target.explanation %></li>
</ul>

<div class="row collapse multi-collapse" id="result">
  <%# Review Again in 1 day if you got the answer %>
  <%= form_with(model: review, class: "col-6") do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
          <% review.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group font-weight-bold">
      <%= form.label :next_review, class: 'sr-only' %>
      <%= form.hidden_field :next_review, value: 0 %>
    </div>

    <div class="form-group font-weight-bold">
      <%= form.label :milliseconds_elapsed, class: 'sr-only' %>
      <%= form.hidden_field :milliseconds_elapsed %>
    </div>

    <div class="form-group font-weight-bold">
      <%= form.label :card_id, class: 'sr-only' %>
      <%= form.hidden_field :card_id, value: card.id %>
    </div>

    <div class="actions form-group">
      <%= form.submit "Again", class: "btn btn-danger btn-block mt-3" %>
    </div>

  <% end %>

  <%# Review Again in 1 day if you got the answer %>
  <%= form_with(model: review, class: "col-6") do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
          <% review.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group font-weight-bold">
      <%= form.label :next_review, class: 'sr-only' %>
      <%= form.hidden_field :next_review, value: 1 %>
    </div>

    <div class="form-group font-weight-bold">
      <%= form.label :milliseconds_elapsed, class: 'sr-only' %>
      <%= form.hidden_field :milliseconds_elapsed %>
    </div>

    <div class="form-group font-weight-bold">
      <%= form.label :card_id, class: 'sr-only' %>
      <%= form.hidden_field :card_id, value: card.id %>
    </div>

    <div class="actions form-group">
      <%= form.submit "Good", class: "btn btn-success btn-block mt-3" %>
    </div>

  <% end %>
</div>  
