<p id="notice"><%= notice %></p>

<p>
  <strong>Next review:</strong>
  <%= @review.next_review %>
</p>

<p>
  <strong>Milliseconds elapsed:</strong>
  <%= @review.milliseconds_elapsed %>
</p>

<p>
  <strong>Card:</strong>
  <%= @review.card_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @review.grade_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
